<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Conversion Assessment</title>
    {{ craft.twigpack.includeCssModule("main.css") }}
    {{ craft.twigpack.includeCssModule("vendor.css") }}
</head>

<body>

    {% include 'partials/_header.twig' %}
    <article>

        <!-- CARDS -->
        {% include 'partials/_cards.twig' %}

        {% include 'partials/slides.twig' with { params: {
            slides : entry.slides
        }} %}

        <!--content -->
        {% include 'partials/_content.twig' %}

    </article>

    <div class="container-fluid form py-5">
        <div class="container">
            <div class="row">
                <div class="col-12" >
                    <h1 class="text-center">Apply Today!</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-10 col-lg-8 p-3 mx-auto" style="background-color:#f0f0f0">
                    {{ craft.freeform.form("form").render() }}
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">

    </footer>

    {#-- Site-wide JavaScript --#}
    {{ craft.twigpack.includeJsModule("runtime.js") }}
    {{ craft.twigpack.includeJsModule("app.js") }}

</body>
</html>